@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

@layer base {
  body {
      font-family: 'Nunito';
  }
  html {
    scrollbar-width: thin;
    scrollbar-color: #A4B4B6 rgba(112, 128, 144, 0.2);
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
      background-color: rgba(112, 128, 144, 0.2);
  }
  ::-webkit-scrollbar-thumb {
    background-color: #A4B4B6;
    border-radius: 11px;
  }
}

@layer components {
  body {
    @apply text-black bg-lgreen
  }
  .container {
    @apply max-w-[1320px]
  }
  .title-h2 {   
    @apply font-bold text-4xl text-dblue mb-2 sm:text-2xl
  }
}
.card-checkbox-enter {
  position: relative;
  transform: translateX(-350px);
  opacity: 0;
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      transition-delay: (300 - $i*30)*1ms
    }
  }
}
.card-checkbox-enter-active {
  transform: translateX(0px);
  opacity: 1;
  transition: all 200ms ease;
}
.card-checkbox-exit {
  opacity: 1;
}
.card-checkbox-exit-active {
  transform: translateX(-350px);
  opacity: 0;
  transition: all 100ms ease;
}